<%- include('../partials/header.ejs')%>
<div class = "content">
    <form method = "POST" action = "/connection/<%= test._id%>?_method=PUT">
        <table>
            <tr>
                <td><label for="title">Your preferred first name</label></td>
                <td><input type="text" id="title" name="title" class = "fixed-width" value = "<%= test.title%>" required></td>
            </tr>
            <tr>
                <td><label for="startTime">Start Time</label></td>
                <td><input type="text" id="startTime" name="startTime" value = "<%= test.startTime%>" class = "fixed-width"></td>
            </tr>
            <tr>
                <td><label for="endTime">End Time</label></td>
                <td><input type="text" id="endTime" name="endTime" value = "<%= test.endTime%>" class = "fixed-width"></td>
            </tr>
            <tr>
                <td><label for="date">Date</label></td>
                <td><input type="datetime-local" id="date" name="date" value = "<%= test.date.toDateString()%>" class = "fixed-width"></td>
            </tr>
            <tr>
                <td><label for="imgSrc">Image URL</label></td>
                <td><input type="text" id="imgSrc" name="imgSrc" value = "<%= test.imageSrc%>" class = "fixed-width"></td>
            </tr>
            <tr>
                <td colspan="2" class = "align-right"><button>Submit</button></td>
            </tr>
            </table>        
    </form>

    </div>
    <%- include('../partials/footer.ejs')%>
